name: Metrics

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 * * *"

permissions:
    contents: write

jobs:
    github-metrics:
        runs-on: ubuntu-latest
        steps:
            - name: Languages + Isometric Calendar only
              uses: lowlighter/metrics@latest
              with:
                  token: ${{ secrets.METRICS_TOKEN || github.token }}
                  user: piyushsarkar-dev
                  template: classic
                  base: ""
                  filename: .github/metrics/metrics.svg
                  plugin_languages: yes
                  plugin_languages_indepth: yes
                  plugin_languages_details: bytes-size, percentage
                  plugin_isocalendar: yes
                  plugin_isocalendar_duration: half-year
                  output_action: commit
                  committer_branch: main
                  committer_message: "chore: update languages + isometric calendar only"
